./config/config.ini
/config/config.ini
/logs/
/zhima/
/config/.db/
*.db
/build/*
/.idea/*
/playwright.lock
/build/
/playwright.RunLock
/release/zhimaPub/
/release/zhima/
/release/zhimaPub.zip
/internal/app/zhima/playwright_userdata/
/internal/app/zhima/playwright_download/
/internal/pkg/p_webkit/
/internal/pkg/p_webkit/.links/
/internal/pkg/p_node/
/config/*/config.ini
/upload
