*.ini
!config_bak.ini
/logs/
/config/.db/
*.db
/.idea/*
/playwright.lock
build/
/playwright.RunLock
/internal/pkg/p_webkit/
/internal/pkg/p_webkit/.links/
/internal/pkg/p_node/
/config/*/config.ini
/upload
/test/*
web/dist/
web/node_modules/
.tmp-taskfile.yml
.worktrees/
.gitnexus
./AGENTS.md
CLAUDE.md
/.claude
AGENTS.md
web/test
