.demo-form-inline .el-input {
  --el-input-width: 220px;
}


.demo-form-inline {
  display: flex;
  justify-content: center; /* 水平居中 */
}

.el-alert {
  margin: 3px;
}

.demo-form-inline .el-select {
  --el-select-width: 220px;
}
